<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      tecnologias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ul class="tecnologias" >
    <li class="tecnologias__li" *ngFor="let tecnologia of listaTecnologias" >
      <div class="li__div" (click)="exibirTecnologia(tecnologia)">
        <div class="textos">
          <h2 class="div__nome">
            {{tecnologia.nome}}
          </h2>
          <h3 class="div__descricao">
            {{tecnologia.texto}}
          </h3>
        </div>
      </div>
    </li>

    
  </ul>
</ion-content>
